/* 5329413k/ */
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 10rem;
    width:100%;
}
#go-top-btn{
    position: fixed;
    bottom:35px;
    right: 35px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border:2px solid #333;
    background-color: #fff;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#go-top-btn i{
    font-size: 1.6rem;
}
/* 
reused styles */
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* nav-bar */
#nav-bar{
    margin-top:0;
    height:100px;
    width: 100%;
    background:#f5f8ff;
    position: fixed;
    z-index: 100;
    padding:5px 0;
    box-shadow: 0px 8px 8px -6px rgba(0,0,0,0.3);
}
#nav-bar .nav-bar{
    padding-bottom: 1rem;
    margin-top: 0;
    height: 100%;
    background: #f5f8ff;
    left:0;
    top:0;
    padding:0 .5rem;
    padding-right:3rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    border-radius: 15px 15px 0 0;
}
.logo img{
    width: 150px;;
    object-fit: cover;
    height:80px;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 15px 0 15px  0;
}
.nav-bar .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar .nav-list .hamburger{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border:2px solid #000;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease all;
    cursor: pointer;
}
.nav-bar .nav-list .hamburger.active{
    transform:rotate(360deg);
}
.nav-bar .nav-list .hamburger .bar{
    height: 2px;
    width:30px;
    background: #000;
    position: relative;
    display:flex;
}
.nav-bar .nav-list .hamburger.active .bar{
    background: transparent;
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after{
    content: "";
    position: absolute;
    left:0;
    height: 100%;
    width:100%;
    background: #000;
    transition: .5s ease transform;
}
.nav-bar .nav-list .hamburger .bar::before{
    top:8px;
}
.nav-bar .nav-list .hamburger.active .bar::before{
    top:0;
    transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger .bar::after{
    bottom: 8px;
}
.nav-bar .nav-list .hamburger.active .bar::after{
    top:0;
    transform:rotate(-45deg);
}
.nav-bar .nav-list ul{
    position: absolute;
    top:0;
    left:0;
    width:100%;background: #fff;
    padding:5rem 0;
    transform: translateY(-100%);
    transition: .3s ease transform;
    text-align: center;
    z-index: -1;
}
.nav-bar .nav-list.open ul{
    transform:translateY(100px);
}
.nav-bar .nav-list ul li{
    display: block;
    position: relative;
    padding:.5rem .5rem;
}
.nav-bar .nav-list ul li.active2::after{
    content: "";
    position: absolute;
    left:50%;
    transform:translateX(-50%)scale(1);
    width:50px;
    height:2px;
    background: #000;
    bottom: 0;
}
.nav-bar .nav-list ul li::after{
    content: "";
    position: absolute;
    left:50%;
    transform:translateX(-50%)scale(0);
    width:50px;
    height:2px;
    background: #000;
    bottom: 0;
    transition:.3s ease transform;
}
.nav-bar .nav-list ul li:hover::after
{
    transform:translateX(-50%)scale(1);
}
.nav-bar .nav-list ul li a{
    color: #000;
    font-size:16px;
    text-transform: uppercase;
    display: block;
    letter-spacing: .15rem;
}
.nav-bar .nav-list ul li a.active2::after{
    /* border-bottom: 2px solid #000;
    border-bottom-width: 2px; */
}





/* end navbar */


/* hero section */ 
#hero{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../IMG/Hero/dimikBG.jpg');
    min-height:100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
}
.hero-text{
    color:white;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-text .hero-h1{
    font-size: 4rem;
    color: #bd021e;
    font-weight:700;
}
.hero-text .hero-h3{
    font-size:2em;
}
.hero-text p{
    margin-top:20px;
    font-size: 1.2rem;
}
.hero-text button{
    border:1px dashed #fff;
margin-top: 20px;
padding:15px 30px;
border-top-right-radius:15px;
border-bottom-left-radius: 15px;
background-color: transparent;
transition: .5s ease all;
}
.hero-text button a{
    color:white;
    font-size:1.2rem ;
    letter-spacing: 2px;
    transition: .5s ease;
}
.hero-text button a{
}
/* .hero-text button a:hover{
    font-size: 1.4rem;
} */
.hero-text button:hover{
    background:#bd021ee0;
}


/* about section */
#about{
    margin-top:5rem;
    display: flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 5rem;
}
#about .about-header{
    margin-bottom: 20px;
}
#about .about-content{
    display: flex;
    flex-direction: column;
    width:80%;
    justify-content:space-between;
    align-items: center;
    /* border:1px solid red; */
    margin:0 auto;
}
#about .about-content .about-img{
    width:100%;
    margin-bottom: 20px;
    /* border-radius:6px; */
    /* border:1px solid red; */
}
#about .about-content .about-img img{
    width:100%;
    height: 300px;
    object-fit: cover;
    /* border-radius:6px; */
    /* border:1px solid red; */

}
#about .about-content .about-info span {
    color: #bd021ed1;
    font-weight: 600;
    font-size:1.2rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
#about .about-content .about-info h3{
    margin:20px 0;
    font-size: 1.6rem;
    color: #00000099;
}
#about .about-content .about-info p{
    font-size:1em;
    color:#373333;
}
/* s/* end about section */

/* Services begin */
#services{
    margin:40px 0;
    width:100%;
}
.service-hero .gallery-intro h1{
    color: #fff;
    font-size: 2.5rem;
    padding:10px;
    font-family:700;
}
#services .service-header{
    text-align: center;
}
#services .service-header h1{
    font-weight:700;
    font-size:2.5rem;
    margin:20px;
}
#services .service-content .container .service .card hr{
    width:50px;
    position: absolute;
    left:50%;
    transform:translateX(-50%)
}
#services .service-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#services .service-content .container{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
#services .service-content .container .service .card{
    position: relative;
    width: 300px;
    height:350px;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:10px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.09);
}
#services .service-content .container .service .card .card-img{
    width:100%;
    height:80%;
    padding:2px;

}
#services .service-content .container .service .card .card-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
#services .service-content .container .service .card .about-service h2{
    margin:20px auto;
    text-align: center;
}
#services .service-content .service-button{
    margin:20px auto;
    background: #bd021e;
    border-radius:25px;
    padding:15px 30px;
    color:#fff;
    font-size: 1.4rem;
    border:none;
    border:3px dashed #fff;
    transition: .5s ease all;
    cursor: pointer;
}
#services .service-content .service-button:hover{
    color:#000;
    background: #fff;
    border:2px solid #bd021e;
}
/* end services */
#our-products{
    padding:5rem 0;
    margin: 40px auto;
    text-align: center;
    width: 100%;
    background: rgba(245, 222, 179, 0.569);
}
#our-products .products-header{
    width: 90%;
    margin:0 auto;
}
#our-products .products-header span{
    font-size: 1.4rem;
    color:#d600208f;
    font-weight:600;
}
#our-products .products-header h2{
    margin:20px auto;
    text-align: center;
}
#our-products .product-container{
    width: 100%;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
#our-products .product-container .card {
    width:300px;
    height:100%;
    position: relative;
}
#our-products .product-container .card .image{
    width:100%;
    height:400px;
    object-fit: cover;
}
#our-products .product-container .card .overlay{
 width: 100%;
 position: absolute;
 right:0;
 left:0;
 bottom: 0;
 background: rgba(191, 31, 31, 0.6);
 height:0;
 overflow:hidden;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 transition: .5s ease;
}
#our-products .product-container .card:hover .overlay{
    height: 100%;
}
#our-products .product-container .card .overlay h1{
    font-size:2.3rem;
    color:#fff;
    font-family: 'Damion', cursive;
    margin-bottom:20px;
}
#our-products .product-container .card .overlay h2{
    color:#fff;
    font-size:1.4rem;
    letter-spacing: .2rem;
}
.portfolio{
    padding:15px 30px;
    border-radius: 15px;
    border:none;
    margin:20px;
    background: transparent;
    color:#777;
    font-size: 16px;
    border: 1px solid #bd021e;
    cursor: pointer;
    transition: .5s ease;
}
.portfolio:hover{
    background: #bd021e;
    color:#fff;
}
/* Contact us */
#contact{
    padding:40px;
    margin-top:40px;
    height:auto;
    width:100%;
    position: relative;
    background: rgba(202, 209, 209, 0.4);
}
#contact hr{
    background:#000;
}
#contact .contacts{
    width:80%;
    margin-top:40px;
    margin:20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap:40px;
    text-align: center;
    margin-bottom: 40px;
}
#contact .contacts .email h2{
    font-size: 1.4rem;
}
#contact .contacts span{
    padding:20px;
    font-size: 1.2rem;
    color:#777;
    letter-spacing:.10rem;    
}
#contact .contacts h2{
    color:#000;
    font-size: 1.6rem;
    margin:15px 0;
}
#contact .contacts p{
    letter-spacing:.15rem;
    color:#bd021e98;
    font-weight: 600;
    margin-bottom:20px;
}
.footer{
    padding:20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
/* end contact us */


/* PORTFOLIO.html */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border: none;
    outline:none;
    font-family: sans-serif;
}
body{
    background: #f5f8ff;
}
.wrapper{
    width:95%;
    margin:0 auto;
}
.hamburger{
    position: absolute;
    width:70px;
    height:70px;
    border:2px solid black;
}
.button-value{
    border:1px solid #bd021e;
    padding:.5rem 1.5rem; 
    border-radius: 3em;
    background-color: transparent;
    color:#bd021e;
    text-transform: uppercase;
    display:inline-block;
    margin:5px;
    cursor: pointer;

}
.button-value:hover,
.active{
    background:#bd021e;
    color: #fff;;
}
#products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
#products .card{
    background: #fff;
    border-radius: 5px;
    min-width:250px;
    width:100%;
    margin-top:1em;
    /* padding:1em; */
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0,08);
    margin-bottom: 30px;
}

.image-container{
    text-align: center;
    height:250px;
    width: 100%;
}
/* img{
    width:100%;
    height:250px;
    object-fit:cover;
    /* border: 1px solid red;; */
     /* border-radius: 5px; */
/* } */
#products .card .image-container img{
    width:100%;
    height:320px;
    object-fit:cover;
}
.container{
    padding-top:20px;
    color:#110f29;
}
.container h4{
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.container h5{
    font-weight: 400;
}
.hide{
    display: none ;
}
.service-hero,
#portfolio-hero{
    padding:5rem 0;
    height:auto;
    width:100%;
    /* border:1px solid red; */
    padding-bottom:0;
}
.service-hero .gallery-intro,
#portfolio-hero .gallery-intro{
    width:100%;
    margin:5rem 0;
    background: url(../IMG/contact\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: con;
    padding:8rem 0;
    text-align: center;
    color: white;
}
.service-hero .gallery-intro{
    background:url(../IMG/Hero/dimik4.jpg);
    background-position: center;
}
.contact-hero .gallery-intro{
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../IMG/Hero/dimik6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service-hero .gallery-intro h6{
    font-size: 1.2rem;
    opacity: .7;
}
#portfolio-hero .gallery-intro h1{
    font-weight: 700;
    font-size: 4rem;
    color:#fff;
    opacity: .8;
}

/* PORTFOLIO.html end */

/**************** CONTACT HTML ****************/
.contact{
    position: relative;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100vh; */
    padding:50p 100px;
}
.contact .content{
    max-width: 800px;
    text-align: center;    
}
.contact .content h2{
    color:#000;
    font-weight: 600;
    font-size: 2rem;
}
.contact .content p{
    color: #000;
    font-size: 18px;
    margin-top:30px;
}
.container{
margin-top:30px;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
width:100%;
}
#contact .container .contactInfo{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap: wrap;
}
.container .contactInfo{
    width:100%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding:20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    display: flex;
    min-width:60px;
    height: 60px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  
}
.container .contactInfo .box .text{
    margin-left:20px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 16px;
    justify-content: center;

}
.container .contactInfo .box .text h3{
    font-weight: 600;
    color:#f15454;
    margin-bottom: 10px;
}
.contact-center{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./../IMG/contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactForm{
    width:100%;
    background: #fff;
    padding: 40px;
    color: #333;
}
.contactForm .inputBox{
    position:relative;
    width:100%;
    margin-top:10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width:100%;
    padding:5px 0;
    font-size: 16px;
    margin:10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline:none;
    resize:none;
}
.contactForm .inputBox span,
.contactForm .inputBox span{
    position:absolute;
    left:0;
    padding:5px 0;
    font-size: 16px;
    margin:10px 0;
    pointer-events:none;
    transition: .5s;
    color:#666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color:#e91e63;
    font-size: 12px;
    transform:translateY(-20px);
}
.contactForm .inputBox input[type='submit']
{
    width:100px;
    background:#00bcd4;
    color:#fff;
    border:none;
    cursor:pointer;
    padding:10px;
    font-size:18px;
    border-radius: 5px;;
}
/* CONTACT HTML CENTER */


/* MEDIA QUERIES*/
/* tablet and desktop */
@media (min-width:510px){
    #products{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:1rem;
    padding:2rem 0;
    margin:20px auto;
    }
    #products .card{
        max-width:300px ;
    }
    #products .card .image-container img{
        width:100%;
        height:250px;
        object-fit:cover;
    }
}


/* desktop */
@media (min-width:768px){
    .nav-bar .nav-list .hamburger{
        display: none;
    }
    .nav-bar{
        width: 80%;
    }
    .nav-bar .nav-list ul{
        transform:translateX(0);
        position: initial;
        padding:0;
        z-index: initial;
        background: transparent;
    }
    .nav-bar .nav-list ul li{
        display: inline-block;
        
    }
    #contact .contacts{
        flex-direction: row;
    }
    #our-products .product-container{
        width:80%;
        flex-direction:row;
    }
    #services .service-content .container{
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow:1;
        /* 30px; */
    }
    .contact .container{
        flex-direction:row;
        width:80%;
    }
    #services{
        width: 80%;
        margin:20px auto;
    }
    #services .service-content .container .service .card{
        min-width:300px;
        min-height: 400px;
    }
    #about .about-content{
        flex-direction:column-reverse;
        justify-content: space-between;
        gap:30px;
        flex-basis: 1 1 1;
    }
    #about .about-content .about-img{
        min-width: 300px;
        display:flex;
        justify-content: space-between;
        gap:20px;
        align-items: center;
    }
    #products{
        grid-template-columns: auto auto auto;
        grid-column-gap: 1.5rem;
    }
    .service-hero .gallery-intro h1{
        font-size: 3rem;
    }
}
 /* MEDIA QUERIES END */

 /* back to top */